{#
# -------------------------------------------------------------------------
# favorites plugin for GLPI
# -------------------------------------------------------------------------
#
# GPLv3 License
#
# Copyright (C) 2026  Thierry Brouard
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# -------------------------------------------------------------------------
# @copyright Copyright (C) 2026 by the favorites plugin team.
# @license   GPL-3.0 https://opensource.org/license/gpl-3.0
# @link      https://github.com/brouardt/glpi-plugin-favorite
# -------------------------------------------------------------------------
#}

{% import 'components/form/fields_macros.html.twig' as fields %}

<div class="asset">

    {% if canedit %}
    <form name="favorite_form" method="post" action="{{ action }}" enctype="multipart/form-data"
          data-submit-once>
        {% endif %}

        <div id="mainformtable">

            <div class="card-body d-flex flex-wrap">
                <div class="col-12 col-xxl-12 flex-column">
                    <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                        <div class="row flex-row align-items-start flex-grow-1">
                            <div class="row flex-row">
                                {% if canedit %}
                                    <input type="hidden" name="id" value="{{ preference.id }}"/>
                                {% endif %}

                                {{ fields.dropdownArrayField(
                                    'types',
                                    '',
                                    menus,
                                    __('Displayed menus', 'favorites'),
                                    {
                                        values: preference.types,
                                        multiple: 1
                                    }
                                ) }}

                                {{ fields.nullField }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if canedit %}
            <div class="card-body mx-n2 mb-4 border-top d-flex flex-row-reverse align-items-start flex-wrap">
                <button class="btn btn-primary me-2" type="submit" name="{{ mode }}" value="1">
                    <i class="ti ti-device-floppy"></i>
                    <span>{{ _x('button', 'Save') }}</span>
                </button>
            </div>

            <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}"/>
        </div>
    </form>
    {% endif %}
</div>

